*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------ Blog Section Cards ----- */
.blog-cards-container{
    flex: 3;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.match-between-cards{
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.match-between-flags{
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-between-flag{
    flex: 1;
    width: 100%;
}

.match-between-vs{
    padding: 0 10px;
}

.match-between-country-name{
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
}

.match-between-date-time{
    font-size: 14px;
    color: #4D4D4D;
}

/* ======================= 
Blog Section END Here 
==========================*/



/* ===================================== 
View All Button Section Style START Here 
========================================*/

.view-all-button-section{
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.view-all-button{
    background: #1077C3;
    padding: 10px 30px;
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
}

/* ===================================== 
View All Button Section Style START Here 
========================================*/



/* =======================
Footer Style START Here 
==========================*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #56042C;
}

.footer-website-name{
    color: #ffffff;
    padding: 30px 0;
}

.footer-links{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.footer-helpful-link{
    text-decoration: none;
    color: #fafafa;
}

.footer-helpful-link:hover{
    text-decoration: underline;
}

hr{
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.footer-social-links-title{
    color: #FFFFFF;
    margin-bottom: 10px;
}

.fa-brands{
    color: #FFFFFF;
    font-size: 20px;
    padding: 0 8px;
}
/* =======================
Footer Style END Here 
==========================*/




/* Media Quaries */

/* Mobile Device - Max Width: 688px*/

@media only screen and (max-width:688px) {
    /*---------------------Banner (Mobile View) -----  */
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 10px 0 10px;
    }

    .banner-container-left{
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .banner-left-title{
        font-size: 2em;
        text-align: center;
        line-height: 40px;
    }
    .banner-left-text{
        text-align: center;
    }

    /*-----------------------Blog Section (Mobile View)-----  */ 

    .blog-contents-section{
        flex-direction: column;
    }

    .side-menu{
        margin-bottom: 20px;
    }
    .sude-menu-container{
        width: 100%;
        background-color: #ffffff;
    }
    .menu{
        border: 1px solid rgb(188, 188, 188);
    }
    .blog-cards-container{
        grid-template-columns: repeat(1, 1fr);
    }

    /* ---------------------------- View All Button (Mobile View) --- */
    .view-all-button-section{
        visibility: hidden;
    }

    /* ---------------------------- Footer (Mobile View) ---------- */
    .footer-links{
        flex-direction: column;
    }
}



/* Mobile Device - Max Width: 992px */

@media only screen and (min-width:689px) and (max-width:992px) {
    /*--------------------------Banner (tablet View) -----  */
    .banner{
        display: flex;
        width: 95%;
        padding: 30px 30px 0 30px;
        background-color: red;
    }
    .banner-container-left{
        margin-right: 20px;
    }
    .banner-left-title{
        font-size: 2em;
        line-height: 40px;
    }

    /*-----------------------Blog Section (tablet View) -----  */ 
    .blog-contents-section{
       flex-direction: column; 
    }
    
    .sude-menu-container{
        width: 100%;
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        background: none;
    }

    .menu{
        flex: 1;
        width: 80%;
        border: 1px solid rgb(172, 172, 172);
    }
    .menu-all-groups{
        margin: 0 20px;
    }

    .menu:hover{
        background-color: #ffffff;
    }

    .blog-cards-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* ---------------------------- View All Button (Tablet View) ---------- */
    .view-all-button-section{
        visibility: visible;
    }

    /* ---------------------------- Footer (Tablet View) ---------- */
    .footer-links{
        width: 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-helpful-link{
        margin: 0 10px;
    }
    
}